@use 'variables.scss' as variables;
@use "sass:map";


//ANIMATIONS
@mixin transition($params...) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -ms-transition: $params;
  -o-transition: $params;
  transition: $params;
}

// generic transform
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

@mixin scaleX($scaleX) {
  @include transform(scaleX($scaleX));
}

@mixin scaleY($scaleY) {
  @include transform(scaleY($scaleY));
}

// translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

// skew
@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin($origin) {
  moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-ms-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

//BREAKPOINTS
@mixin breakpoint($point) {

  @if ($point ==xl) {
    @media (min-width: 1400px) {
      @content;
    }
  }

  @if ($point ==lg) {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @else if ($point ==md) {
    @media (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  }

  @else if ($point ==md-min) {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if ($point ==sm-max) {
    @media (max-width: 991px) {
      @content;
    }
  }

  @else if ($point ==sm) {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  }

  @else if ($point ==xs) {
    @media (max-width: 767px) {
      @content;
    }
  }

  @else if ($point ==xxs) {
    @media (max-width: 640px) and (min-width: 481px) {
      @content;
    }
  }

  @else if ($point ==xxxs) {
    @media (max-width: 480px) {
      @content;
    }
  }
}

//IMAGES
@mixin img-gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin grayscale($value) {
  -webkit-filter: #{"grayscale(#{$value})"};
 -moz-filter: #{"grayscale(#{$value})"};
 filter: #{"grayscale(#{$value})"};

}

//FORMS
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

//BUTTONS & LINKS
@mixin button($button-theme,
  $outline: false,
  $large: false) {
  $background: variables.theme-value($button-theme, bg);
  $background-hover: variables.theme-value($button-theme, hover);
  $text: variables.theme-value($button-theme, text);

  background: $background;
  border: 2px solid $background;
  border-radius: variables.$border-radius;
  box-shadow: none;
  color: $text;
  cursor: pointer;
  display: inline-block;
  font-family: variables.$font-display;
  font-size: variables.$font-xs;
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: variables.$space-md;
  outline: none !important;
  padding: variables.$space-sm variables.$space-lg;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: normal;
  z-index: 1;

  @include transition(background 0.3s linear,
    border 0.3s linear,
    color 0.3s linear);

  &:hover,
  &:focus-visible {
    background: $background-hover;
    border-color: $background-hover;
    color: $text;
  }

  @if $outline {
    background: transparent;
    border-color: $background;
    color: $background;

    &:hover,
    &:focus-visible {
      background: $background;
      border-color: $background;
      color: $text;
    }
  }

  @if $large {
    font-size: variables.$font-sm;
    line-height: 1em;
    padding: variables.$space-md variables.$space-lg;
  }
}

@mixin action-link($background, $text) {
  background: none;
  border-radius: 0;
  color: $background;
  font-family: variables.$font-script;
  font-size: variables.$font-xxs;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1emm;
  padding: 0 0 0 variables.$space-sm;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: padding 0.3s cubic-bezier(0, 0, 0.2, 1), color 0.3s linear, border 0.3s linear;

  @if $background ==variables.$primary {
    border-left: 4px solid variables.$primary-lt;
  }

  @else if $background ==variables.$secondary {
    border-left: 4px solid variables.$secondary-lt;
  }

  @else if $background ==variables.$tertiary {
    border-left: 4px solid variables.$tertiary-lt;
  }

  @else if $background ==#000 {
    border-left: 4px solid #000;
  }

  @else if $background ==#fff {
    border-left: 4px solid #fff;
  }

  &:hover,
  &:focus {
    color: $background !important;
    padding-left: 20px;

    @if $background ==variables.$primary {
      border-left: 4px solid variables.$primary-dk;
    }

    @else if $background ==variables.$secondary {
      border-left: 4px solid variables.$secondary-dk;
    }

    @else if $background ==variables.$tertiary {
      border-left: 4px solid variables.$tertiary-dk;
    }

    @else if $background ==#000 {
      border-left: 4px solid variables.$gray-dk;
    }
  }
}

@mixin arrow-link($background) {
  color: $background;
  font-family: variables.$font-display;
  font-size: variables.$font-xxs;
  font-weight: 600;
  letter-spacing: 1px;
  padding-right: variables.$space-lg;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: margin .2s linear;

  &::after {
    content: "\e921";
    font-family: icons;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 40%;
    transition: right .3s linear;
    transform: translate(0%, -50%);

    @if $background ==variables.$primary-lt {
      color: variables.$primary-dk;
    }

    @else if $background ==variables.$secondary {
      color: variables.$secondary-dk;
    }

    @else if $background ==variables.$tertiary {
      color: variables.$tertiary-dk;
    }

    @else if $background ==#000 {
      color: variables.$gray-dk;
    }
  }

  &:hover,
  &:focus {

    &::after {
      right: calc(-1* variables.$space-sm);
    }
  }
}

@mixin underline($color) {
  position: relative;
  text-decoration: none;

  &::before {
    background: $color;
    content: "";
    position: absolute;
    top: 100%;
    width: 0;
    height: 2px;
    left: 0;
    z-index: 2;
    @include transition(width .3s variables.$cubic);
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 2px;
    left: 0;
  }

  &:hover,
  &:focus,
  &.is-active {
    &::before {
      width: 100%;
    }
  }
}

@mixin section-theme($config) {
  $bg: map.get($config, bg);
  $text: map.get($config, text);
  $text-secondary: map.get($config, text-secondary);
  $blockquote-text: map.get($config, blockquote-text);
  $link: map.get($config, link);
  $link-hover: map.get($config, link-hover);
  $accent-primary: map.get($config, accent-primary);
  $accent-secondary: map.get($config, accent-secondary);
  $light: map.get($config, light);
  $dark: map.get($config, dark);

  background: $bg;

  .body-text,
  .blurb {
    @include link-theme($config);
  }

  @include blockquote-theme($config);

  @if $text {
    color: $text;
  }


  @if $accent-primary {
    .container::before {
      color: $accent-primary;
    }

    .eyebrow {
      color: $text-secondary;

      &::before {
        background: $accent-secondary
      }
    }

    .heading::after {
      background: $accent-primary;
    }
  }

  // Light variant
  @if $light {
    &.light {
      background: map.get($light, bg);

      @if map.get($light, text) {
        color: map.get($light, text);
      }

      .body-text,
      .blurb {
        @include link-theme($light);
      }

      @include blockquote-theme($light);

      @if map.get($light, accent-primary) {

        .container::before {
          color: map.get($light, accent-primary)
        }

        .eyebrow {
          color: map.get($light, text-secondary);

          &::before {
            background: map.get($light, accent-secondary)
          }
        }

        .heading::after {
          background: map.get($light, accent-primary);
        }
      }
    }
  }

  // Dark variant
  @if $dark {
    &.dark {
      background: map.get($dark, bg);

      @if map.get($dark, text) {
        color: map.get($dark, text);
      }

      .body-text,
      .blurb {
        @include link-theme($dark);
      }

      @include blockquote-theme($dark);

      @if map.get($dark, accent-primary) {
        .container::before {
          color: map.get($dark, accent-primary)
        }

        .eyebrow {
          color: map.get($dark, text-secondary);

          &::before {
            background: map.get($dark, accent-secondary)
          }
        }

        .heading::after {
          background: map.get($dark, accent-primary);
        }
      }
    }
  }
}

@mixin card-theme($theme) {
  .inner {
    background: map.get($theme, bg);

    @if map.get($theme, text) {
      color: map.get($theme, text);
    }

    @include link-theme($theme);


    @if map.get($theme, accent-primary) {

      h2,
      h3,
      .heading {
        color: map.get($theme, accent-primary);

        strong {
          color: map.get($theme, accent-secondary);
          font-weight: 600;
        }
      }
    }
  }

  &.has-icon {
    .icon {

      svg,
      svg>* {
        stroke: map.get($theme, accent-primary);
      }
    }
  }
}

@mixin image-card-theme($theme) {
  background: map.get($theme, bg);

  .inner {
    background: map.get($theme, bg);

    @if map.get($theme, text) {
      color: map.get($theme, text);
    }

    @include link-theme($theme);


    @if map.get($theme, accent-primary) {

      h2,
      h3,
      .heading {
        color: map.get($theme, accent-primary);

        strong {
          color: map.get($theme, accent-secondary);
          font-weight: 600;
        }
      }
    }
  }

  &.has-icon {
    .icon {

      svg,
      svg>* {
        stroke: map.get($theme, accent-primary);
      }
    }
  }
}

@mixin link-theme($theme) {
  @if map.get($theme, link) {
    a:not(.btn) {
      color: map.get($theme, link);

      &:hover,
      &:focus {
        color: if(sass(map.get($theme, link-hover)): map.get($theme, link-hover); else: map.get($theme, link));
      }
    }
  }
}

@mixin blockquote-theme($config) {
  $blockquote-text: map.get($config, blockquote-text);
  $accent-primary: map.get($config, accent-primary);
  $text: map.get($config, text);

  blockquote {
    @if $blockquote-text {
      color: $blockquote-text;
    }

    @if $text {
      strong {
        color: $text;
      }
    }

    @if $accent-primary {
      &::before {
        color: $accent-primary;
      }
    }
  }
}

@mixin heading-theme($config) {
  $h1: map.get($config, h1);
  $light: map.get($config, light);

  color: $h1;

  @if $light {
    &.light {
      @if map.get($light, h1) {
        color: map.get($light, h1);
      }
    }
  }
}