@use '../utilities' as utilities;
@use 'sass:map';

.site-wrap,
.offcanvas {
  .btn {
    @each $theme-name, $theme in utilities.$section-themes {
      @if map.has-key($theme, button) {
        $button-theme: utilities.theme-value($theme, button);

        &.#{$theme-name} {
          @include utilities.button($button-theme);

          &.outline {
            @include utilities.button(
              $button-theme,
              $outline: true
            );
          }

          &.large {
            @include utilities.button(
              $button-theme,
              $large: true
            );
          }

          &.outline.large,
          &.large.outline {
            @include utilities.button(
              $button-theme,
              $outline: true,
              $large: true
            );
          }
        }
      }
    }
  }

  .action-link {
    &.primary {
      @include utilities.action-link(
        utilities.$primary,
        utilities.$gray-dk
      );
    }

    &.secondary {
      @include utilities.action-link(
        utilities.$secondary,
        utilities.$gray-dk
      );
    }

    &.tertiary {
      @include utilities.action-link(
        utilities.$tertiary,
        utilities.$gray-dk
      );
    }

    &.black {
      @include utilities.action-link(#000, #fff);
    }

    &.white {
      @include utilities.action-link(#fff, #000);
    }
  }

  .arrow-link {
    &.primary {
      @include utilities.arrow-link(utilities.$primary);
    }

    &.secondary {
      @include utilities.arrow-link(utilities.$secondary);
    }

    &.tertiary {
      @include utilities.arrow-link(utilities.$tertiary);
    }

    &.black {
      @include utilities.arrow-link(#000);
    }

    &.white {
      @include utilities.arrow-link(#fff);
    }
  }
}