@use '../utilities' as utilities;


.full-width-cta {
  background-size: cover;
  padding: utilities.$space-lg;
  position: relative;

  &.has-bg {
    padding: calc(2 * utilities.$space-xl) utilities.$space-lg;
  }

  &.has-bgimg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: calc(2 * utilities.$space-xl) utilities.$space-lg;

    .blurb {

      &.left,
      &.right {
        .inner {
          background: #fff;
          color: #000;
          padding: utilities.$space-lg;
          text-align: left;

          @include utilities.breakpoint(lg) {
            width: 33%;
          }

          h2 {
            text-align: left;
          }
        }
      }

      .inner {
        color: #fff;
        margin: 0 auto;
        text-align: center;

        h2 {
          text-align: center;
        }
      }
    }
  }

  .blurb {
    width: 100%;
    z-index: 2;

    &.right {
      .inner {
        float: right;
      }
    }

    &.left {
      .inner {
        float: left;
      }
    }

    .inner {
      margin: 0 auto;
      text-align: center;

      @include utilities.breakpoint(lg) {
        width: 60%;
      }

      .subtitle {
        font-size: utilities.$font-xxs;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: utilities.$space-sm;
      }
    }
  }
}