<section class="section has-bg navy dark">
        <div class="full-width-cta">
          <div class="container">
            <div class="blurb">
              <span class="eyebrow">Take action now</span>
              <h2 class="heading">Your story could be the one someone else needs to hear.</h2>
              <p>Know your rights as a whistleblower. Contact 888-888-8888 to speak with the whistleblower hotline.</p>
              <a href="#" target="_blank" class="btn navy">Share your story</a>
            </div>
          </div>
        </div>
      </section>